#content h1, h2, h3
{
   text-align: center;
   margin: 0;
   padding: 0;
   border: 0;
}
#content caption
{
	background-color:#444;
	font-weight: bold;
	height: 35px;
	line-height: 2.5;
}
#content table
{

	font-size: smaller;
	border-spacing: 3px;
}
#content th
{
	text-align:center;
	background-color:#111;
	height: 20px;
	color: #4f5359;
	border-bottom: 1px solid #b5becc;
}
#content td
{
	border-color: white;
	height: 30px;
	font-weight: bold;
	color: #4f5359;
	border-bottom: 1px solid #b5becc;
	border-right: 1px solid #b5becc;
}
#content a {
   padding: 6px 8px 6px 16px;
   text-decoration: none;
   font-size: 17pt;
   color: #717171;
   display: block;
}

/* When you mouse over the navigation links, change their color */
#content a:hover {
   color: #f1f1f1;
}
#content form
{
	font-weight: bold;
	width: 700px;
	line-height: 1.5;
}
