.room_3140	{
	position: absolute;
	top: 48px;
	left: 25px;
}

.room_3130	{
	position: absolute;
	top: 55px;
	left: 112px;
}

.room_3120	{
	position: absolute;
	top: 54px;
	left: 197px;
}

.room_3110	{
	position: absolute;
	top: 52px;
	left: 278px;
}

.room_3090	{
	position: absolute;
	top: 52px;
	left: 394px;
}

.room_3180	{
	position: absolute;
	top: 342px;
	left: 24px;
}

.room_3170	{
	position: absolute;
	top: 342px;
	left: 108px;
}

.room_3160	{
	position: absolute;
	top: 343px;
	left: 199px;
}

.room_3150	{
	position: absolute;
	top: 343px;
	left: 279px;
}
